.wrap {
    composes: pure-u-1 from '../pure.css';
    margin-top: 30px;
}

.room-list {
    composes: pure-u-1-4 from '../pure.css';
}

.room-list ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.room-list-item {
    padding-left: 0px;
    list-style: none;
}

.room-item-head {
    margin: 0;
}
.room-item-content {
    margin: 0;
}

.main {
    composes: pure-u-7-12 from '../pure.css';
}

.room-action {
    composes: pure-u-1 from '../pure.css';
}

.room-content {
    composes: pure-u-1 from '../pure.css';
}

.room-content h1 {
    margin: 0;
}

.room-content ul {
    height: 350px;
    padding-left: 0;
}

.room-content li {
    list-style: none;
}

.roomop {
    composes: pure-u-1 from '../pure.css';
}

.roomop-button {
    composes: pure-button from '../pure.css';
    background: rgb(28, 184, 65);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 40%;
    font-size: 80%;
    margin-right: 5%;
}
.roomop-button:last-child {
    margin-right: 0;
}

.black_overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    background-color: white;
    z-index:1002;
    overflow: auto;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
    box-shadow: 1px 1px 5px #888888;
}

.roomop-form {
    composes: pure-form from '../pure.css';
    composes: pure-form-stacked from '../pure.css';
}

.roomop-form-button {
    composes: roomop-button;
    width: 80px;
    margin-right: 10px;
}

.roomop-form-cancel-button {
    composes: roomop-form-button;
    background: rgb(66, 184, 221);

}
